<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>interests</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.css" />
  <link rel="stylesheet" href="../../assets/css/interesting-stuff/stylesheet.css" />
</head>
<body>

<!-- latest findings -->
<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
  <div class="my-3 p-3">
    <h2 class="display-5">latest findings</h2>

    <div class="mt-4">

      <p class="lead">
        <a href="https://blog.sessionstack.com/how-javascript-works-cryptography-how-to-deal-with-man-in-the-middle-mitm-attacks-bf8fc6be546c">
          How JavaScript works: cryptography + how to deal with man-in-the-middle (MITM) attacks
        </a>
      </p>

      <p class="lead">
        <a href="https://bdkadvokati.com/eu-court-rules-software-transfer-is-a-sale/">
          EU court rules software transfer is a sale
        </a>
      </p>

      <p class="lead">
        <a href="https://www.fastcompany.com/90630440/tesla-admits-it-may-never-achieve-full-self-driving-cars">
          Tesla admits it may never achieve full-self-driving cars
        </a>
      </p>

      <p class="lead">
        <a href="https://github.com/achiku/planter">
          Generate PlantUML ER diagram textual description from PostgreSQL tables
        </a>
      </p>

      <p class="lead">
        <a href="https://www.flowrite.com/blog/cold-email-to-investors?ref=dxse48">
          How to write cold emails to investors – lessons from 30 VCs
        </a>
      </p>

      <p class="lead">
        <a href="https://hedonometer.org/timeseries/en_all/?from=2019-10-29&to=2021-04-28">
          Average Happiness for Twitter
        </a>
      </p>

      <p class="lead">
        <a href="https://www.juliafordatascience.com/first-steps-5-pluto/">
          First Steps #5: Pluto.jl 🎈
        </a>
      </p>

      <p class="lead">
        <a href="https://www.inklestudios.com/ink/web-tutorial/">
          Writing web-based interactive fiction with ink
        </a>
      </p>

    </div>

  </div>
</div>

<!-- add empty container to provide some empty space -->
<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5"></div>

</body>
</html>