<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>research</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../../assets/css/research/stylesheet.css" />

    <!-- Animations -->
    <link rel="stylesheet" href="../../assets/css/animations/fade-in-raw.css" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white fade-in-raw">
    <div class="container-fluid">
        <a class="navbar-brand" href="../landing/index.html">theoconst.dev</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">investing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">iqp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">mqp</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- todo: animate the appearance of this section -->
<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
        <h2 class="display-5">investing</h2>
        <p class="lead">
            current strategy,
            stocks,
            ETFs,
            bonds,
            selling options to collect premium,
            hedging,
            dividend investing,
            day trading with less than $25k,
            whales,
            industry regulation,
            buying stocks without using a broker
        </p>
    </div>
    <button type="button" class="btn btn-dark">read more</button>
</div>

<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
        <h2 class="display-5">iqp</h2>
        <p class="lead">
            numerous scientific attempts have been made to predict the stock market but there has not been one method that accurately predicts stock price movement.
            a group of websites was chosen based on the Alexa site list for the investing sub-category located under the business category.
            a custom crawler was written for every site that is listed on the Alexa website.
            weights were generated based on the information for total sites linking a website and a sentiment analysis was performed by an analyzer that is trained using social media and news data.
        </p>
    </div>
    <button type="button" class="btn btn-dark">
        <a href="../../assets/pdf/iqp/document.pdf">
            read more
        </a>
    </button>
</div>

<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
        <h2 class="display-5">mqp</h2>
        <p class="lead">
            covid-19 has proven to be one of the biggest challenges the United States has ever faced.
            this challenge has resulted in more than 30 million infections, more than 500 thousand deaths, and more than 14% unemployment rate.
            both governments and institutions are struggling to create systems and measures that would allow them to reopen and operate under this new normal.
        </p>
    </div>
    <button type="button" class="btn btn-dark">read more</button>
</div>

<!-- add empty container to provide some empty space -->
<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5"></div>

</body>
</html>