<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>theoconst.dev</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.css" />

    <!-- Landing StyleSheet-->
    <link rel="stylesheet" href="../../assets/css/landing/stylesheet.css" />

    <!-- Animations -->
    <link rel="stylesheet" href="../../assets/css/animations/fade-in.css" />
    <link rel="stylesheet" href="../../assets/css/animations/fade-in-delay.css" />
</head>
<body>

<div class="container h-100">
    <div class="d-flex justify-content-md-center align-items-center vh-100">

        <div class="row">
            <div class="col-md-12">

                <div class="fade-in">
                    <p>theoconst.dev</p>
                </div>

            </div>
            <div class="col-md-12">

                <div class="fade-in">
                    <p>
                        <button type="button" class="btn btn-dark">
                            <a href="../research/index.html">
                                research
                            </a>
                        </button>
                        <button type="button" class="btn btn-dark">
                            <a href="../linkedin/index.html">
                                linkedin
                            </a>
                        </button>
                        <button type="button" class="btn btn-dark">
                            <a href="../github/index.html">
                                github
                            </a>
                        </button>
                        <button type="button" class="btn btn-dark">
                            <a href="../gitlab/index.html">
                                gitlab
                            </a>
                        </button>
                    </p>
                </div>

            </div>

        </div>

    </div>
</div>

</body>
</html>